logs
project/project
project/plugins/target
project/target
project/boot
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.idea/*
.DS_Store
target-run
.target
dump
